$primary:#344966;
$secondary: #B4CDED;
$tertiary: #136e85;
$light: #F6FFF8;
$dark: #000000;

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: $dark;

    span {
        font-size: 20px;
        font-weight: 600px;
        color: $light;
    }

    nav a {
        margin: 0 1rem;
        text-decoration: none;
        color: $light;
    }
}


#hero {
    height: 700px;
    @include flex-center-center;

    .container {
        max-width: 1200px;
        width: 100%;
        @include flex-center-center;
        
        .hero-text {
            width: 600px;
            margin-right: 10rem;
        }

        button {
            border: 0;
            border-radius: 1rem;
            cursor: pointer;
            background-color: $dark;
            color: $light;
            padding: 1rem 2rem;
            font-size: 20px;
            transition: .3s;

            &:hover{
                background-color: $tertiary;
                color: $dark;

            }
            
            
        }
    }
}


#about {
    height: 700px;
    @include flex-center-center;
    background-color: $secondary;

    .container {
        max-width: 1200px;
        width: 100%;
        @include flex-center-center;
        
        .about-text {
            width: 600px;
            margin-right: 10rem;
        }

     
    }
}

#contact{
background-color:$light;
}

.contact-text{
   @include flex-center-center;
}

.contact-form {
    padding: 2rem;
  }
  
  form {
    label {
      display: block;
      margin-bottom: 0.5rem;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
  
    button {
      background-color: $dark;
      color: $light;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }

#footer {
    @include flex-center-center;
    background-color:$tertiary;
    color: $dark;

    .container-text{
        font-size: 1rem;
        font-weight: 600;
       
    }

}


  
  
  
  
  